
*{margin:0;padding: 0;}
body{
	font: 14px/1.5 YouYuan;
	/*color: #fff;*/
}
a{
  text-decoration: none;	
  color: #fff;
}
ul{
	list-style: none;
}
#fullpage{
	text-align: center;
}
.section{height: 100%;}
.section1,.section2,.section3,.section4,.section5{
	background-color: #11a988;
	
}


/*section1定义*/
/*#navigation{
	position:fixed;
	left:0;
	top:0;
	z-index: 9999;
	background-color: rgba(0,0,0,0.3);
	width: 100%;
}*/
.img{
	display: block;
	width: 68px;
	height: 68px;
	background-image: url(../img/monkey.jpg);
	position: relative;
	left: 20px;
	top:20px;
	border-radius: 100%;

}
/*.resume{
	position: relative;
	left: -700px;
	top:0;
	
}
.resume a{
	color:#fff;
}
.nav ul{
	list-style: none;
	float: right;
	margin-right: 100px;
	
}
.nav ul li{
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: left;
	/*background-color: orange;*/
/*	padding: 20px;
}
.nav ul li a{
color:#fff;
}
.nav ul li a:hover{
  color: red;
}
*/
.resume{
	width: 60px;
	height: 60px;
	/*background: red;*/
	position: relative;
	left: 100px;
	top:-40px;
	color: #fff;
}
.resume li{
	display: block;
    width: 60px;
    height: 30px;
    line-height: 30px;
}
.p-boder{
	border-bottom: 1px solid #fff;
}

#intro{
clear: both;
color: #fff;
-webkit-animation-name:around;
-moz-animation-name:around;
animation-name:around;
-webkit-animation-duration:1s;
-moz-animation-duration:1s;
animation-duration: 1s;
-webkit-animation-timing-function:ease-in;
-moz-animation-timing-function:ease-in;
animation-timing-function: ease-in;
-webkit-animation-delay:.1s;
-moz-animation-delay:.1s;
animation-delay: .1s;
-webkit-animation-iteration-count:1;
-moz-animation-iteration-count:1;
animation-iteration-count:1;/*设置动画播放次数*/
-webkit-animation-fill-mode:forwards;
-moz-animation-fill-mode:forwards;
animation-fill-mode:forwards; /*设置动画时间外属性*/

}
@keyframes around {
  0% {
    transform: translateY(800px);
  }
  
  100% {
   transform: translateY(-20px);
  }
  
}

#intro:{animation: move .2s ease .1s;}

#intro div{
	margin-top: 40px;
	font-size: 18px;
}
.me{
	border-radius: 100%;
}
.right-to-left{
	position:relative;
	font-size: 22px;
	color: #fff;
	/*background-color: red;*/
}
.right-to-left::after{
            content:'';
            display:block;
            width:0;
            height:3px;
            position:absolute;
            right:0;   /*区别就是开始时在右边*/
            bottom:-10px;
            background:#fff;
            transition:all 0.3s ease-in-out;
}
.right-to-left:hover::after{
            width:100%;
}
.btn-down{
	-webkit-animation:btnDown .8s linear infinite;
  -moz-animation:btnDown .8s linear infinite;
  animation:btnDown .8s linear infinite;
}
@keyframes btnDown{
  0% {
    transform: translateY(0px);
  }
  
  50% {
   transform: translateY(-20px);
  }
  10% {
   transform: translateY(0px);
  }
  
  
}

/*section2定义*/
#me1,#me2,#me3,#me4{
	font-size: 30px;
	padding-top: 20px;
	font-weight: bold;
	color: #fff;
}
.me-1,.me-2,.me-3,.me-4{
	display: block;
	width: 110px;
	height: 30px;
	border-top: 2px solid #800080;
	position: relative;
	left: 630px;
	font-size: 20px;
	font-weight: bold;
	color: #800080;
	display: none;
}

.about-me{
     position: relative;
     left:270px;
     top: 100px;
}
.about-me ul li{
	width: 950px;
	height: 100px;
	line-height: 100px;
	display: block;
	font-size: 40px;
	font-weight:bold;
}

.one{
	background:url(../img/bio-icon-1.png) no-repeat 50px -5px ;
	
}
.two{
	background: url(../img/bio-icon-2.png) no-repeat 50px -5px;
	margin-left: -800px;
}
.three{
		background: url(../img/bio-icon-3.png) no-repeat 50px -5px;
        margin-left:1100px; 
}

/*section3定义*/
.work-show{
	width: 1200px;
	height: 400px;
	/*border: 1px solid;*/
	margin:40px auto;
}
.work-show ul{
	overflow: hidden;
	/*background: red;*/
	width: 100%;
	height: 100%;
	padding: 30px 20px;
}
.work-show ul li{
	width: 300px;
	height: 250px;
	float: left;
	border-radius: 20px;
	margin: 40px;
	background: #fff;
}

.work-show ul li:hover{
	transform:scale(1.1);//设置缩放比例
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -o-transform:scale(1.1);
    -moz-transform:scale(1.1);
    background: #C0C0C0;
}
.work-show a h3{
	font-size: 30px;
	height: 60px;
	line-height: 60px;
	margin-bottom: 10px;
	color: #800080;
}
.work-show a p{
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	text-align:start;
	text-indent: 20px;
	padding: 0 10px;
	color: #1E0908;
}
 .link{
 	color: #1E0908 ;
 	border: 1px solid silver;
 	border-radius: 5px;
 	width: 200px;
 	height: 30px;
 	line-height: 30px;
 	text-align: center;
 	position: relative;
 	top: 110px;
 	left: 50px;
 }


/*section4定义*/

.skill-all{
	position: relative;
	top: 50px;
	left: 50px;
}
.skill-left{
	float: left;
	width: 450px;
	height: 400px;
	/*background-color: red;*/
	overflow: hidden;

}
#poor{
	width: 241px;
	height: 241px;
	margin-left: 80px;
	/*display: none;*/
}

/*
.panda{
	-webkit-animation:poorl-r 1s linear forwards;
	-moz-animation:poorl-r 1s linear forwards;
	animation:poorl-r 1s linear forwards;
}
@keyframes poorl-r {
  0% {
    transform: translateX(-800px);
  }
  
  100% {
   transform: translateX(880px);
  }
  
}*/
#font1{
	font-size: 20px;
	color: #c6c7e6;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border:none;
	border-radius: 100%;
	margin-right: 0;
	background-color:#1e0908;
	-webkit-animation:fontAround 10s 1s ease infinite;
  -moz-animation:fontAround 10s 1s ease infinite;
  animation:fontAround 10s 1s ease infinite;
}
@keyframes fontAround{
  0% {
    transform: translateX(0);
  }
  25%{
    transform: translateX(340px);
  }
  50%{
     transform: translate(340px, 300px); 
  }
  75%{
    transform:translate(0,300px);
  }
  100%{
    transform: translateY(0);
  }
}
#font2{
	/*background-color: green;*/
	width: 200px;
	height: 40px;
	position: relative;
	left: 101px;
}
#font2 span{
	background-color:#fff;
	display: block;
	font-size: 13px;
	color: #1e0908;
	width: 40px;
	height: 40px;
	display: block;
	line-height: 40px;
	border-radius: 100%;
	-webkit-animation:fontSpan 10s 1s ease infinite;
  -moz-animation:fontSpan 10s 1s ease infinite;
  animation:fontSpan 10s 1s ease infinite;
}
@keyframes fontSpan{
  0% {
    transform: translateX(0);
  }
  50%{
     transform: translate(160px); 
  }
  
  100%{
    transform: translateY(0);
  }
}

.skill-right{
	/*background-color: yellow;*/
	float: left;
	padding: 20px;
}
 .p-fade{
	color: #fff;
	font-size: 18px;
    display: none;
}
.p-fade p{
	padding: 10px;
}




/*section5定义*/
.section5{
	background-color: #11a988;
}
.contact-all{
	/*background-color: red;*/
	position: relative;
	left: 80px;
}
.contact-left,.contact-right{
    float: left;
    text-align: left;
    color: #fff;
    width: 450px;
	height: 200px;
	
    
}
.contact-left{
	/*background-color: yellow;*/
	font-size: 20px;
	padding: 80px;
	line-height: 50px;
}
.strong{
	font-weight: bold;
}
#red{color: red;}
#orange{color: orange;}
#yellow{color: yellow;}
#blue{color: blue;}
.contact-right{
	/*background-color: grey;*/
	font-size: 18px;
    
    padding: 80px;
    line-height: 40px;
}
#green{color:green;}
#pink{color:pink;}
#purple{color: purple;}

.contact-footer{
	clear: both;
	/*background-color: pink;*/
	position: relative;
	top:80px;
}
.contact-footer ul{
	/*background-color: green;*/
	margin:0 auto;
	overflow: hidden;
	width:190px;
	height: 20px;
}
.contact-footer ul li{
	font-size: 16px;
	float: left;
	display: block;
	width: 60px;
	height: 20px;
	line-height: 20px;
}
.contact-footer ul li.green{
	border-right: 2px solid green;
}
.contact-footer ul li.pink{
	border-right: 2px solid pink;
}
.contact-footer ul li.purple{
	border-right: 2px solid purple;
}